{% extends 'base.html' %}
<!DOCTYPE html>
<html>

{% block title %}
<title>QuidProQuo - Add the Details of Your Debt</title>
{% endblock %}
<body>
{% block content %}
<div>
<h1>Add Details of Your Debt</h1>
<br>
<div>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.lender_id.label}}
        {{ form.lender_id }}
        {% if form.user_name.errors %}
        <div>{{ error }}</div>
        {% endif %}
        <br>
        {{ form.amount_borrowed.label }}
        {{ form.amount_borrowed }}
        <br>
        {{ form.amount_paid.label }}
        {{ form.amount_paid }}
        <br>
        {{ form.submit }}
    </form> 
</div>
</div>
</body>
{% endblock %}
</html>