<!DOCTYPE html>

{% extends 'base.html' %}
<html> 

{% block title %}
<title>QuidProQuo - Add the Details of Your Debt</title>
{% endblock %}

{% block content %}
<div>
<h1>Add the Details of Your Debt</h1>
<br>
<div>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.lender_id.label}}
        {{ form.lender_id }}
        {% if form.user_name.errors %}
        <div>{{ error }}</div>
        {% endif %}
        <br>
        {{ form.amount_borrowed.label }}
        {{ form.amount_borrowed }}
        <br>
        {{ form.amount_paid.label }}
        {{ form.amount_paid }}
        <br>
        {{ form.submit }}
    </form> 
</div>
<br>
<div>
    <a href="{{url_for('delete_debt_entry', lender=lender )}}"><button type="button">Delete this Entry</button></a>
</div>
</div>
{% endblock %}
</html>