{% extends 'base.html'%}
<html> 

{% block title %}
<title>QuidProQuo - Update Your Profile</title>
{% endblock %}

{% block content %}
<div>
<h1>Create Your Update</h1>
<br>
<div>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.property.label}}
        {{ form.property }}
        <br>
        {{ form.cash.label}}
        {{ form.cash }}
        <br>
        {{ form.investments.label }}
        {{ form.investments }}
        <br>
        {{ form.submit }}
    </form> 
</div>
<br>
<div>
    <a><button type="button">Edit this Entry</button></a>
</div>
</div>
{% endblock %}
</html>