{% extends 'base.html'}

{% block title %}
<title>QuidProQuo - Create Your Profile</title>
{% endblock %}

{% block content %}
<h1>Create Your Profile</h1>
<br>
<div>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.property.label}}
        {{ form.property }}
        <br>
        {{ form.cash.label}}
        {{ form.cash }}
        <br>
        {{ form.investments.label }}
        {{ form.investments }}
        <br>
        {{ form.submit }}
    </form> 
</div>
<br>
<div>
    <a href="{{url_for('delete_entry', property=property, cash=cash, investments=investments )}}"><button type="button">Delete this Entry</button></a>
</div>
{% endblock %}